<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New CampGround</h1>
        <div class="col-md-6 offset-md-3">

                    <form action="/campgrounds" method="POST" class="row g-3 needs-validation" novalidate
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="tittle">Tittle</label>
                            <input class="form-control" type="text" title="tittle" id="tittle" name="campground[tittle]"
                                required>
                            <div class="valid-feedback">
                                Valid!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="latitud">Location</label>
                            <input class="form-control" type="text" title="location" id="location"
                                name="campground[location]" required>
                            <div class="valid-feedback">
                                Valid!
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label" for="location">Latitud And Logitud (Optional)</label>
                            <input class="form-control" type="text" title="coordenates" id="coordenates"
                                name="campground[coordenates]">
                            <div class="valid-feedback">
                                Valid!
                            </div>
                        </div>



                        <!--                 <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input class="form-control" type="text" title="image" id="image" name="campground[image]" required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div> -->


                        <div class="mb-3">
                            <label class="form-label" for="price">Campground Price</label>

                            <div class="input-group">
                                <span class="input-group-text" id="price-label">$</span>
                                <input type="number" class="form-control" placeholder="0.00" id="price"
                                    aria-label="price" aria-describedby="price-label" name="campground[price]" min="0">
                                <div class="valid-feedback">
                                    Valid!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" type="text" title="description" id="description"
                                name="campground[description]" required></textarea>
                            <div class="valid-feedback">
                                Valid!
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-file custom-file">
                                <input type="file" class="form-file-input" name="image" id="image" multiple>
                                <label for="image" class="form-file-label">
                                    <span class="form-file-text custom-file-label">Choose images...</span>
                                    <span class="form-file-button">Browser</span>
                                </label>
                            </div>
                        </div>

                        <div class="mb-3"> <button class="btn btn-success">Add Campground</button></div>
                    </form>
                    <a href="/campgrounds">All Campgrounds</a>
                </div>
            </div>